/* ProfilePage.css */
/* ProfilePage.css */
.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px; /* Add margin at the bottom */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url('../assets/loginpage.jpg') no-repeat fixed center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profileTitle {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.profileDetails {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.profilePicture {
    margin-right: 20px;
}

.profilePicture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.changePictureButton {
    margin-top: 10px;
    background-color: rgb(255, 141, 141, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.changePictureButton:hover {
    background-color: rgb(213, 23, 23);
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userInfo label {
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
    color: #555;
}

.uploadSection {
    margin-top: 20px;
}

.uploadLabel {
    margin-right: 10px;
}

.resumeUpload {
    margin-top: 10px;
}

.footer-content {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    position: relative; /* Change from fixed to relative */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    margin-top: auto; /* Ensure footer stays at the bottom */
}