.home-container {
    padding: 20px;
}

h1 {
    text-align: center;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.job-cards {
    display: flex;
    gap: 20px; /* Space between job cards */
}

.job-card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 300px; /* Fixed width for cards */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.apply-button {
    background-color: rgba(255, 141, 141, 0.8);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: rgba(255, 100, 100, 0.8);
}

.arrow-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s;
}

.arrow-button:hover {
    transform: scale(1.2); /* Scale effect on hover */
}

.arrow-button.left {
    position: absolute;
    left: 10px; /* Position on the left */
}

.arrow-button.right {
    position: absolute;
    right: 10px; /* Position on the right */
}

.profile-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 170px;
    height: 49px;
    background-image: url("../assets/logo.jpg");
    background-size: contain;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

